body {
  margin: 0;
  background: #0f0f0f;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.screen {
  padding: 20px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* панель */
.panel {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.panel input {
  width: 100%;
  background: #000;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 15px;
}

button {
  width: 100%;
  background: #333;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button.primary {
  background: #fbc02d;
  color: #000;
  font-weight: 600;
}

/* Chat */
.chatBox {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 12px;
}

#messages {
  height: 150px;
  overflow-y: auto;
  background: #000;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#messages div {
  background: #222;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 6px;
}

#msgInput {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #000;
  color: #fff;
}

#sendMsg {
  width: 18%;
  background: #fbc02d;
  color: #000;
  font-weight: 700;
}
